.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--black);
  padding: 10px 20px;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.right {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-right: 20px;
}

.nav-links li {
  margin-right: 40px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
}
